#tela{
    width: 200px;
    height: 400px;
    background-color: black; 
    display: flex;
    flex-wrap: wrap;
}

.bloco{
    width: 20px;
    height: 20px;
}

.tetromino {
    background-color: blue;
}